<a href="https://colab.research.google.com/github/Kennedy216/Kennedy216/blob/main/untitled323.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
!pip install pandas openpyxl

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.12/dist-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.12/dist-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
confirmed = pd.read_csv("/time_series_covid_19_confirmed.csv")
deaths = pd.read_csv("/time_series_covid_19_deaths.csv")
recovered = pd.read_csv("/time_series_covid_19_recovered.csv")

In [ ]:
# Confirm data information

In [ ]:
confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,64575,65080,65486,65728,66275,66903,67743,68366,69130,70111
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,132118,132153,132176,132209,132215,132229,132244,132264,132285,132297
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,126156,126434,126651,126860,127107,127361,127646,127926,128198,128456
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,13569,13569,13569,13569,13569,13664,13671,13682,13693,13693
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,31661,31909,32149,32441,32623,32933,33338,33607,33944,34180

In [ ]:
# Drop Unnecessary Columns

In [ ]:
confirmed = confirmed.drop(columns=["Province/State"])
deaths = deaths.drop(columns=["Province/State"])
recovered = recovered.drop(columns=["Province/State"])

In [ ]:
# Aggregate by Country

In [ ]:
confirmed = confirmed.groupby("Country/Region").sum().reset_index()
deaths = deaths.groupby("Country/Region").sum().reset_index()
recovered = recovered.groupby("Country/Region").sum().reset_index()

In [ ]:
# Convert Wide Format to Long Format

In [ ]:
confirmed_long = confirmed.melt(
    id_vars=["Country/Region"],
    var_name="Date",
    value_name="Confirmed"
)

In [ ]:
# Deaths by Country

In [ ]:
deaths_long = deaths.melt(
    id_vars=["Country/Region"],
    var_name="Date",
    value_name="Deaths"
)

In [ ]:
# Recovered Rate

In [ ]:
recovered_long = recovered.melt(
    id_vars=["Country/Region"],
    var_name="Date",
    value_name="Recovered"
)

In [ ]:
  # Datasets Merge

In [ ]:
df = confirmed_long.merge(
    deaths_long,
    on=["Country/Region", "Date"]
)

df = df.merge(
    recovered_long,
    on=["Country/Region", "Date"]
)

In [ ]:
# Convert all the Date Column

In [ ]:
print(confirmed_long["Date"].unique()[:20])

['Lat' 'Long' '1/22/20' '1/23/20' '1/24/20' '1/25/20' '1/26/20' '1/27/20'
 '1/28/20' '1/29/20' '1/30/20' '1/31/20' '2/1/20' '2/2/20' '2/3/20'
 '2/4/20' '2/5/20' '2/6/20' '2/7/20' '2/8/20']

In [ ]:
confirmed_long = confirmed_long[
    ~confirmed_long["Date"].isin(["Lat", "Long"])
]

In [ ]:
print(confirmed_long["Date"].unique()[:20])

['1/22/20' '1/23/20' '1/24/20' '1/25/20' '1/26/20' '1/27/20' '1/28/20'
 '1/29/20' '1/30/20' '1/31/20' '2/1/20' '2/2/20' '2/3/20' '2/4/20'
 '2/5/20' '2/6/20' '2/7/20' '2/8/20' '2/9/20' '2/10/20']

In [ ]:
# Convert Date Column

In [ ]:
confirmed_long["Date"] = pd.to_datetime(
    confirmed_long["Date"],
    format="%m/%d/%y"
)

In [ ]:
# Repeat Cleaning for Deaths and Recovered

In [ ]:
deaths_long = deaths_long[
    ~deaths_long["Date"].isin(["Lat", "Long"])
]

recovered_long = recovered_long[
    ~recovered_long["Date"].isin(["Lat", "Long"])
]

In [ ]:
# Convert their Dates

In [ ]:
deaths_long["Date"] = pd.to_datetime(
    deaths_long["Date"],
    format="%m/%d/%y"
)

recovered_long["Date"] = pd.to_datetime(
    recovered_long["Date"],
    format="%m/%d/%y"
)

In [ ]:
# Merge all Three Datasets

In [ ]:
df = confirmed_long.merge(
    deaths_long,
    on=["Country/Region", "Date"]
)

df = df.merge(
    recovered_long,
    on=["Country/Region", "Date"]
)

In [ ]:
# Rename Column

In [ ]:
df = df.rename(columns={"Country/Region": "Country"})

In [ ]:
# Sort the Data (Important for Time Series)

In [ ]:
df = df.sort_values(["Country", "Date"])

In [ ]:
# Create Basic Metrics

In [ ]:
df["Mortality_Rate"] = df["Deaths"] / df["Confirmed"]

In [ ]:
df["Recovery_Rate"] = df["Recovered"] / df["Confirmed"]

In [ ]:
df["Daily_New_Cases"] = df.groupby("Country")["Confirmed"].diff()

In [ ]:
df = df.fillna(0)

In [ ]:
# Export to Excel

In [ ]:
df.to_excel("covid_cleaned.xlsx", index=False)